<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<head>
<title>Lançamentos</title>
</head>

<section layout:fragment="conteudo">


	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-titulo-panel">Lançamentos</h1>
				<a class="btn btn-link aw-link-panel" th:href="@{/lancamentos/novo}"  >Novo lançamento</a>
			</div>
		</div>

		<div class="panel-body">
			<form method="GET" class="form-horizontal" >
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control"
								placeholder="Qual título você está procurando?"
								autofocus="autofocus"></input> 
								<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>

			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Decrição</th>
							<th class="text-center col-md-2">Categoria</th>
							<th class="text-right col-md-2">Valor</th>
							<th class="text-center col-md-2">Status</th>
							<th class="col-md-1"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="lancamento : ${lancamentos}">
							<th th:text="${lancamento.descricao}"></th>
							<th class="text-center col-md-2"  >
								<i class="fa fa-tag" th:style="${'color: '+lancamento.categoria.cor}" aria-hidden="true"></i>
								<span th:text="${lancamento.categoria.descricao}" ></span>
							</th>
							<th class="text-right col-md-2" th:text="|R$ ${{lancamento.valor}}|"></th>
							<th class="text-center col-md-2" >
								<span class="label label-success" th:text="${lancamento.status.descricao}"
									th:classappend="${lancamento.pendente ? 'label-danger' : 'label-success'}" ></span>
							</th>
							
							<td class="text-center">
		   						<a class="btn btn-link btn-xs"  
		   								title="Editar" rel="tooltip" data-placement="top">
		   							<span class="glyphicon glyphicon-pencil"></span>
		   						</a>
		   						<a class="btn btn-link btn-xs" 
		   								title="Excluir" rel="tooltip" data-placement="top">
		   							<span class="glyphicon glyphicon-remove"></span>
		   						</a>
		   						<a class="btn btn-link btn-xs js-atualizar-status" th:if="${lancamento.pendente}"
		   								title="Receber" rel="tooltip" data-placement="top" >
		   							<span class="glyphicon glyphicon-check"></span>
		   						</a>
		   					</td>
						</tr>
						
						<tr>
							<td colspan="6" th:if="${#lists.isEmpty(lancamentos)}" >Nenhum
								lançamento foi encontrado</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		

	</div>
</section>
</html>
